<section>
    <div class="page-heading">
        <h1>Your Dashboard</h1>
    </div>

    <form class="edit-post-form">
        <div>
            <h3>Title</h3>
            <input name="post-title" type="text" value="{{post.title}}" />
        </div>
        <div>
            <h3>Content</h3>
            <input name="post-content" type="text" value="{{post.content}}" />
        </div>
        <button type="submit">Update</button>
    </form>

    <button type="button" class="delete-btn">Delete</button>
</section>

<script src="/javascript/update-delete-post.js"></script>