<section>
    <div class="page-heading">
        <h1>Your Dashboard</h1>
    </div>

    <form class="edit-post-form">
        <div>
            <input name="post-title" type="text" value="{{post.title}}" />
        </div>
        <div>
            <input name="post-content" type="text" value="{{post.content}}" />
        </div>
        <button type="click" class="update-btn">Update</button>
        <button type="click" class="delete-btn">Delete</button>
    </form>
</section>

<script src="/javascript/edit-post.js"></script>