<div class="page-heading">
    <h1>The Tech Blog</h1>
</div>

<form class="sign-up-form">
    <h3>Sign Up</h3>
    <div>
        <label for="username-sign-up">Username</label>
        <input type="text" id="username-sign-up" />
    </div>
    <div>
        <label for="email-sign-up">Email</label>
        <input type="text" id="email-sign-up" />
    </div>
    <div>
        <label for="password-sign-up">Password</label>
        <input type="password" id="password-sign-up" />
    </div>
    <div>
        <button type="submit">Sign Up!</button>
    </div>
    <div>
        <a href="/login">Login instead</a>
    </div>
</form>

<script src="/javascript/signup.js"></script>