* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: rgba(35,16,16,255)
;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color .1s;
}

button {
  background-color: gray;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 10px;
  padding: 10px;
  list-style: none;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 60%;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header{
    background-color: rgba(35,16,16,255);
    color: white;
}

header nav {
    margin: 7px 0;
    font-size: 30px;
}

header nav a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  
}

header nav a:hover {
    background: rgb(3, 1, 1);
    color: rgb(36, 65, 231);
    border-radius: 15px;
    text-shadow: none;
}

.login-form, .sign-up-form, .new-post-form, .edit-post-form{
  border: 3px solid black;
  margin: 20px;
}

.login-form h3, .sign-up-form h3, .new-post-form h3, .edit-post-form h3  {
  color: white;
  background-color: black;
  margin: 0;
  padding: 5px;
  font-weight: bold;
}

.login-form div, .sign-up-form div, .new-post-form div, .edit-post-form div {
  margin: 10px;
}

.login-form input, .sign-up-form input, .new-post-form input, .edit-post-form input {
  width: 100%;
  text-align: left;
}

.login-form a, .sign-up-form a{
  color: rgb(36, 65, 231);
}

main {
  flex: 1;
  background-color: rgb(217, 234, 211, 255);
}
.page-heading{
    font-size: xx-large;
    background-color: black;
    
}
.page-heading h1{
    background-color: #d9ead3;
    display: inline-block;
    width: 40%;
    border: 1px solid #000;
    text-align: center;
    border-radius: 15px;
    margin: 50px;
    box-shadow: 10px 10px 10px 5px #d9ead3;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;

  font-size: 100%;

  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.btn-new-post {
  width: 10%;  
  position: absolute;
  left: 45%;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  border: 3px solid black;
}

.title {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: rgba(35,16,16,255);
  color: white;
}

.post span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.add-comment-btn{
  width: 60%;  
  position: absolute;
  left: 20%;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

.new-post-form input, .edit-post-form input {
  width: 100%;
  text-align: left;
}

.new-post-form .content-post input, .edit-post-form .content-post input{
  line-height: 100px;
}

.edit-post-form div button{
  position: relative;
  width: 60%;
  left: 20%;
}
